@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

/*---- CABEÇALHO ----*/
#cabecalho {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(25, 37, 51);
    color: white;
    height: 75px;
    text-align: center;
 }

#manualCiencia {
    position: absolute;
    font-size: 22pt;
    color: rgb(234, 90, 0);
    width: 100%;
    top: 15px;
}

.menu {
    position: relative;
    display: inline-block;
    width: 80px;
    padding: 5px;
    margin-right: 30px;
    margin-left: 30px;
    top: 20px;
    font-size: 11pt;
}

#esquerda {
    height: 75px;
}

#direita {
    text-align: right;
}

@media screen and (max-width: 1279px){
    #direita, #esquerda {
        width: 100vw;
        height: 38px;
        text-align: center;
    }

    #manualCiencia, .menu {
        position: relative;
        top: 0px;
    }

    figure.img-cabecalho-legenda {
        width: 100vw;
        margin-top: -1px;
        margin-left: -15px;
    }
}

@media screen and (max-width: 576px){
    #direita, #esquerda {
        width: 100vw;
        height: 38px;
        text-align: center;
    }

    #manualCiencia, .menu {
        position: relative;
        top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    figure.img-cabecalho-legenda {
        width: 100px;
        margin-left: -15px;
    }

    figure.img-cabecalho-legenda figcaption {
        top: 8px;
        margin-left: 60px;
        margin-top: 20px;
    }

    figure figcaption h1 {
        font-size: 35pt;
    }

    figure figcaption h2 {
        font-size: 12pt;
    }
}

.img-cabecalho-legenda {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 190px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.img-cabecalho-legenda img {
    display: block;
    margin: 0 auto 0 auto;
    height: 100%;
    width: 100%;
}

.img-cabecalho-legenda figcaption {
    position: absolute;
    display: block;
    color: white;
    top: 15px;
    margin-left: 21%;
}

figcaption h1 {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 40pt;
}

figcaption h2 {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
}

/*---- Notícias em Exposição ----*/
